name: bump
on:
  schedule:
  - cron: "0 * * * *"
  workflow_dispatch: {}

jobs:
  bump:
    runs-on: macos-latest
    if: github.repository == 'dahlia/homebrew-jetbrains-eap'
    steps:
    - uses: macauley/action-homebrew-bump-cask@v1
      with:
        token: ${{ secrets.GH_TOKEN }}
        tap: ${{ github.repository_owner }}/jetbrains-eap
        cask: >-
          clion-eap,
          datagrip-eap,
          dataspell-eap,
          goland-eap,
          intellij-idea-ce-eap,
          intellij-idea-eap,
          phpstorm-eap,
          pycharm-ce-eap,
          pycharm-eap,
          rider-eap,
          rubymine-eap,
          webstorm-eap
        livecheck: true
